Version vom 26.11.2019

Allgemeine Regeln:
1. Wir setzen voraus, dass alle Spieler auf unseren Server ein Grundmass an Anstand mitbringen. Wir akzeptieren keine Beleidigungen und lehnen Rassismus, Sexismus und andere Formen von unangebrachtem Verhalten ab.

2. Werbung ist auf unserem Server verboten. Dies umfasst insbesondere Werbung für andere Server. 

3. Der Wechsel zwischen PvE und PvP ist aktuell ohne Einschränkungen möglich.

4. Zerschießen von Gelände allgemein oder an und um Basen ist verboten. Das Gelände regeneriert sich nicht automatisch. Auch das dedizierte Ausgraben von Basen ist verboten, seien es Feindbasen im PvP oder POI's in PvE.

5. Im Umkreis von 1,5km um Spawnpads und Adminstationeneine ist es Verboten eine Basis zu bauen.

6. Cheaten und das ausnützen von Bugs ist strengstens verboten.

7. Verstöße werden wie folgt (und ohne Vorankündigung) bestraft: 1. Verstoß ( 24h Ban), 2. Verstoß (3 Tage Ban), 3. Verstoß (7 Tage Ban), danach erfolgt der permanente Ausschluss von unserem Server.


8. Wenn zwingend nötig, werden Planeten und Orbits gewiped. Weitere Infos dazu werden immer im Discord angekündigt.


9. Bei Gruppengesprächen / Streitschlichtergesprächten im Discord haben die Admins das letzte Wort. Reinreden / unterbrechen wird mit einem Kick bestraft. Jeder Teilnehmer darf ausreden!


10. Respektvoller Umgang miteinander ist oberstes Gebot. Beleidigen etc. ist verboten und wird sofort bestraft.





12. Täglicher Neustart und Backup des Servers ist um 5:30 Uhr morgens.
6. Unwissenheit schützt vor Strafen nicht! Wenn etwas unklar sein sollte, fragt nach.


PvE: 

1.Land oder Kontinente die von Wasser oder schmalen begehbaren Landstrichen verbunden sind, sollten nicht zugebaut werden, damit sich Lebewesen des Planeten frei bewegen können,

dies gilt nur für Starter Planeten.


2. Ressourcen dürfen abgebaut werden! Wir bitten aber drum wenn Miner drauf stehen dies nicht zu tun. Bitte setzt trotzdem Miner (Bergbaugeräte) auf die Vorkommen!

(Davon ausgenommen sind Starter Planeten und Golderzlager)!


3. Starter Planeten sind: #/#



POI's:

1. Dürfen nicht ganz abgebaut werden, mind 11 Blöcke über lassen!


2. Dürfen nicht zugebaut / blockiert werden.


3. Bauen: Mindestabstand von 1000m halten(Bearbeitet)



PvP: In Aufbau!!

1. Schiffe, Panzer oder Basen, welche durch einen Bug zerstört wurden, werden erstattet.


2. Im Abstand von 3 km um Warp-Punkte ist es verboten Barrikaden / Satelliten zu bauen. Dieses gilt für JEDES System!


3. Wer sich selbst einer Struktur mit aktiven Waffen nähert, ist selber Schuld – damit muss auf einem PvP playfield gerechnet werden. Insbesondere wenn die Person der die Struktur gehört offline ist.


4. Wer auf PVE anfängt und sich irgendwann dazu entscheidet doch PVP spielen zu wollen, der kann das gerne machen. Allerdings muss der Spieler sich vollkommen aus den PVE Systemen verabschieden

und alle Basen und Schiffe mitnehmen. (Ebenso umgekehrt: PVP zu PVE)



Euer Admin Team
